<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.hypeapp.fixmath">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ImageUtil"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".PlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name=".MenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LevelMenuActivity"
            android:label="@string/title_activity_level_menu"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name=".MenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".TimeAttackActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name=".TimeAttackActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ChooseTimeChallenge"
            android:label="@string/title_activity_choose_time_challenge"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name=".MenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name=".SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".TutorialActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name=".TutorialActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
